body
{
    background-color: black;
    font-size: large;
    color: white;
}
input
{
    border: violet 2px solid;
    background-color: transparent;
    margin: 0;
    display: flex;
    color: white;
    width: 10rem;
    height: 2rem;
}
input:focus
{
    border: 5px rosybrown dotted;
}
.container
{
    display: flex;
    border: 10px aqua solid;
    margin: auto;
    padding:  30px 0;
    position: relative;
}